<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Minha conta - Banco Python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="card">

        <h1>🏦 Banco Python</h1>

        <h2>Olá, {{ nome }}! 👋</h2>

        <p>Bem-vindo à sua conta.</p>

        <h2>Saldo</h2>

        <p>R$ {{ "%.2f"|format(saldo) }}</p>

        <a href="/deposito">
            <button>Depositar</button>
        </a>

        <a href="/saque">
            <button>Sacar</button>
        </a>

        <br><br>

        <a href="/transferencia">
            <button>Transferir</button>
        </a>

        <a href="/historico">
            <button>Histórico</button>
        </a>

        <br><br>

        <a href="/logout">
            <button>Sair</button>
        </a>

    </div>

</body>

</html>