<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Meu Site</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="card">

         <h1>Meu primeiro site</h1>

         <p>Digite seu nome:</p>

         <form method="POST">

             <input type="text" name="nome" placeholder="Digite seu nome">

             <button type="submit">Enviar</button>

         </form>

        {% if nome %}
            <h2>TESTE 123 - Olá, {{ nome }} irmão de jõao pedro, e filho de exu! Seja bem-vindo! 👋</h2>
        {% endif %}
    </div>

</body>

</html>