<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login - Banco Python</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="card">

        <h1>🏦 Banco Python</h1>

        <p>Entre na sua conta</p>

        <form method="POST">

            <input type="text" name="nome" placeholder="Nome" required>

            <br><br>

            <input type="password" name="senha" placeholder="Senha" required>

            <br><br>

            <button type="submit">Entrar</button>

        </form>

        {% if erro %}
            <p>{{ erro }}</p>
        {% endif %}

    </div>

</body>

</html>